* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', 'Serif';

  background-color: white;
}


.titleDiv {
  height: 50rem;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(32, 178, 246, 1) 0%, rgba(176, 255, 226, 1) 65%); */
  background-color: #c9e0ff;
  display: flex;
  align-items: center;
  justify-content: center;


}


.title h1 {
  font-family: "Mulish", serif;
  font-size: -webkit-xxx-large;
  font-weight: bold;
}

.titleDiv p {
  font-size: x-large;

}

.textsContent {
  padding-top: 3rem;
  margin: 2rem;
}

.banner {
  padding-top: 3rem;
}


.principalDiv {

  display: flex;
  text-align: center;
  justify-content: center;
  font-size: small;

}


.principalText {
  font-weight: bold;
  font-size: xx-small;
}


.texts h1 {
  font-size: xx-large;
  color: #275791;
}

.texts p {
  font-size: large;
  color: #275791;
}


.icons {
  display: flex;
  gap: 90px;
 
}



.icons img {
  width: 100px;

}

.icons p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}


.container-titleIcon h1 {
  padding-top: 5rem;
  margin-left: 5rem;

  font-size: xx-large;
}


.rodape {
  background-color: lightsteelblue;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}


.termos {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.prefeitura h1 {
  margin-left: 4rem;
  font-family: "Cinzel", serif;
}

.prefeitura {
  margin-left: 1rem;
  padding-top: 3rem;
}

.prefeitura-content {
  margin-left: 1rem;
}

.content-rodape {
  display: flex;
  justify-content: space-between;
}



.app-form {
  display: flex;
  width: 50%;
  /* margin: 0 auto; */
}


.rodape-form {
  margin-right: 6rem;
  width: 40rem;

}


.rodape-form h1 {
  font-family: "Cinzel", serif;
  padding-top: 2.5rem;
  margin-left: 8rem;
}


.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content img {
  width: 120px;
}


.modal-button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .content-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .termos {
    display: flex;
    flex-direction: column;
    
  }

  .content-rodape img {
    width: 150px;
  }


  .icons img {
    width: 150px;
  }
}